server {
    listen 80;
    server_name {{ grafana_domain }};
    location / {
        return 301 https://{{ grafana_domain }};
    }
}

server {
    listen 443 ssl;
    server_name {{ grafana_domain }};
    ssl_certificate /etc/letsencrypt/live/{{ grafana_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ grafana_domain }}/privkey.pem;
    location / {
        proxy_pass http://127.0.0.1:3000;
    }
}
